@model IEnumerable<EventosTec.Web.Models.Entities.Client>

@{
    ViewData["Title"] = "Index";
}

<br/>

<p>
    <a asp-action="Create" class="btn btn-success btn-md">Nuevo Cliente</a><!--AGREGADO-->

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-block btn-sm">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-block btn-sm">Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default btn-block btn-sm">Eliminar</a>


            </td>
        </tr>
}
    </tbody>
</table>
